<h1><%= t('.header', :default => 'New event') %></h1>

<%= javascript_tag do %>
  $(document).ready(function() {
    $('#event_date').datetimepicker();
  });
<% end %>

<%= render 'form' %>

<%= link_to t('.back', :default => 'Back'), events_path %>
